@import "tailwindcss";

@theme {
    --color-russian-violet: #231942;
    --color-ultra-violet: #5E548E;
    --color-lavander: #9F86C0;
    --color-african-violet: #9B7DA8;
    --color-lilac: #BE95C4;
    --color-pink: #E0B1CB;
    --color-eminence: #71388A;
    --color-amethyst: #9665AB;
    --color-indigo: #440381;
    --color-cherry: #42193F;

    --color-english-violet: #55445C;
    --color-raisin-black: #322A36;

    --color-light-gray: #EBEBEB;
    --color-timberwolf: #D3D0CB;

    --color-reddish: #FF555D;

    --color-overlaying: #00000050;
    --color-panel: #D3D0CB50;


    --font-unbounded: "Unbounded", sans-serif;
    --font-roboto: "Roboto", sans-serif;

    --shadow-button-big: 0 2px 22px 7px;
    --shadow-button: 0 0 20px 0;

    --border-5: 5px;

    --bg--transparent: none;
}

.transparentbg {
    background-image: none;
}


/* SPINNER */

.spinner {
    position: relative;
    width: 20px;
    height: 20px;
}

.spinner div {
    animation: spinner-4t3wzl 1.875s infinite backwards;
    background-color: #440381;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    width: 100%;
}

.spinner div:nth-child(1) {
    animation-delay: 0.15s;
    background-color: rgba(68,3,129,0.9);
}

.spinner div:nth-child(2) {
    animation-delay: 0.3s;
    background-color: rgba(68,3,129,0.8);
}

.spinner div:nth-child(3) {
    animation-delay: 0.45s;
    background-color: rgba(68,3,129,0.7);
}

.spinner div:nth-child(4) {
    animation-delay: 0.6s;
    background-color: rgba(68,3,129,0.6);
}

.spinner div:nth-child(5) {
    animation-delay: 0.75s;
    background-color: rgba(68,3,129,0.5);
}

@keyframes spinner-4t3wzl {
    0% {
        transform: rotate(0deg) translateY(-200%);
    }

    60%, 100% {
        transform: rotate(360deg) translateY(-200%);
    }
}